<!DOCTYPE html>
<html>
<head>
  	<title>App</title>
  	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/2.0.0/css/ionicons.min.css" />
  	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  	<%= csrf_meta_tags %>
  	<script src="https://maps.googleapis.com/maps/api/js"></script>
</head>
<body role="document">
	<div class="navbar navbar-fixed-top" style="position:absolute;" role="navigation">
	    <div class="container">
	        <div class="navbar-header">
		        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
		        	<span class="sr-only">Toggle navigation</span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		        </button>
	          	<a class="navbar-brand" href="#" style="font-size:24pt;"> ACQUIRE </a>
	        </div>
	        <div class="navbar-collapse collapse"> <!--pull-right-->
	          	<ul class="nav navbar-nav">
		            <li class="active"><a href="#" style="font-size:13pt;"> Inicio </a></li>
		            <li><a href="#about" style="font-size:13pt;">¿Qué es ACQUIRE?</a></li>
		            <li><a href="#contact" style="font-size:13pt;">Contactanos</a></li>
		            <!--<li class="dropdown">
		              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
		              <ul class="dropdown-menu">
		                <li><a href="#">Action</a></li>
		                <li><a href="#">Another action</a></li>
		                <li><a href="#">Something else here</a></li>
		                <li class="divider"></li>
		                <li class="dropdown-header">Nav header</li>
		                <li><a href="#">Separated link</a></li>
		                <li><a href="#">One more separated link</a></li>
		              </ul>
		            </li>-->
	          	</ul>
	        </div>
	    </div>
	</div>
	<%= yield %>
</body>
</html>
