
<div class="jumbotron" style="background:#394755;">
  	<div class="container">
      	<div class="row">
	      	<div class="col-md-6">
	      		<h1 class="text-white">Aun hay personas con valores.</h1>
	        	<h2 class="text-white">
	        		Unete a ACQUIRE, en el apoyo en la perdida y recuperación de objetos extraviados.
	        	</h2>
	        	<button class="btn btn-pubish-post">Crea tu anuncio Gratis</button>
	      	</div>
	      	<div class="col-md-6">
	      		<iframe width="560" height="315" src="//www.youtube.com/embed/lgP7AxtxBnM" frameborder="0" allowfullscreen></iframe>
	      	</div>
      	</div>
  	</div>
</div>
<div class="container-search-website">
	<div class="row">
		<div class="col-md-12">
			<div class="col-lg-8 col-md-offset-2">
				<h2 align="center" class="text-gray">Buscar en nuestra base de datos</h2>
				<div class="content-border-input">
					<div class="input-group">
						<input type="text" class="input-search-website form-control" />
						<span class="input-group-btn">
							<button class="btn btn-search-website"><i class="icon ion-search icon-lg"></i></button>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container">
    <div class="row">
    	<div class="col-md-8 col-md-offset-2">
    		<h2 class="text-gray" align="center">Ultimas publicaciones de objetos perdidos.</h2>
    	</div>
    </div>
    <hr />
    <div class="row">
    	<div class="col-md-10 col-md-offset-1">
    		<div class="row">
    			<div class="col-lg-12 col-md-offset-0 content-post-website">
		          	<div class="col-md-3">
		          		<p style="padding:15px;">
		          			<img src="imagen1.jpg" width="190px;" height="190px;" />
		          		</p>
		          	</div>
		          	<div class="col-md-9">
	          			<h3 style="font-size:18pt;" class="text-green-1">
	          				Documento extraviado cercas de 5 y 10, calle ...
	          			</h3>
		          		<p style="font-weight: bolder;color:#555;"><i class="icon ion-calendar"></i> Extraviado el día 12 de abril 2014</p>
		          		<p style="color:#a94442;font-size:12pt;" class="">
		          			<u>Recompensa</u>
		          		</p>
		          		<p style="color:#555;">
		          			Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. ...
		          		</p>
		          		<p class="pull-left" style="">
		          			<button type="button" class="btn btn-success">Contactar a la persona</button>
		          		</p>
		          		<p class="pull-right" style="margin-right:15px;">
		          			<span type="button"> <a href="#"><b class="text-success">Ver en Google Maps</b></a></span>
		          		</p>
		          	</div>
		    	</div>
	    	</div>
	    	<hr />
	    	<div class="row">
    			<div class="col-lg-12 col-md-offset-0 content-post-website">
		          	<div class="col-md-3">
		          		<p style="padding:15px;">
		          			<img src="imagen1.jpg" width="190px;" height="190px;" />
		          		</p>
		          	</div>
		          	<div class="col-md-9">
		          		<p>
		          			<h3 style="font-size:18pt;" class="text-green-1">
		          				Documento extraviado cercas de 5 y 10, calle ...
		          			</h3>
		          		</p>
		          		<p style="font-weight: bolder;color:#555;"><i class="icon ion-calendar"></i> Extraviado el día 12 de abril 2014</p>
		          		<p style="color:#a94442;font-size:12pt;" class="">
		          			<u>Recompensa</u>
		          		</p>
		          		<p style="color:#555;">
		          			Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. ...
		          		</p>
		          		<p class="pull-left" style="">
		          			<button type="button" class="btn btn-success">Contactar a la persona</button>
		          		</p>
		          		<p class="pull-right" style="margin-right:15px;">
		          			<span type="button"> <a href="#"><b class="text-success">Ver en Google Maps</b></a></span>
		          		</p>
		          	</div>
		    	</div>
	    	</div>
	    	<hr />
	    	<div class="row">
    			<div class="col-lg-12 col-md-offset-0 content-post-website">
		          	<div class="col-md-3">
		          		<p style="padding:15px;">
		          			<img src="imagen1.jpg" width="190px;" height="190px;" />
		          		</p>
		          	</div>
		          	<div class="col-md-9">
		          		<p>
		          			<h3 style="font-size:18pt;" class="text-green-1">
		          				Documento extraviado cercas de 5 y 10, calle ...
		          			</h3>
		          		</p>
		          		<p style="font-weight: bolder;color:#555;"><i class="icon ion-calendar"></i> Extraviado el día 12 de abril 2014</p>
		          		<p style="color:#a94442;font-size:12pt;" class="">
		          			<u>Recompensa</u>
		          		</p>
		          		<p style="color:#555;">
		          			Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. ...
		          		</p>
		          		<p class="pull-left" style="">
		          			<button type="button" class="btn btn-success">Contactar a la persona</button>
		          		</p>
		          		<p class="pull-right" style="margin-right:15px;">
		          			<span type="button"> <a href="#"><b class="text-success">Ver en Google Maps</b></a></span>
		          		</p>
		          	</div>
		    	</div>
	    	</div>
	   	</div>	
	</div>
</div>