<script>
      function initialize() {
        var mapCanvas = document.getElementById('map-canvas');
        var mapOptions = {
          center: new google.maps.LatLng(44.5403, -78.5463),
          zoom: 8,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var map = new google.maps.Map(mapCanvas, mapOptions)
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
<div class="row" style="background: #f1f1f1;padding: 40px 0px;">
	<div class="col-md-8 col-md-offset-2">
		<h3 style="font-size:18pt;" class="text-green-1">
			Documento cartera, credencia y visa.
		</h3>
		<div class="col-md-8 col-md-offset-0 content-post-website" style="background-color: #ffffff;">
      		<p style="font-weight: bolder;color:#555;">
      			<i class="icon ion-calendar"></i> Extraviado el día 12 de abril 2014
      		</p>
      		<p style="font-weight: bolder;color:#555;"> <i class="icon ion-ios-location"></i> Extraviado cerca de 5 y 10, calle Domingo
      		</p>
      		<p style="color:#a94442;font-size:12pt;" class="">
      			<u>Recompensa</u>
      		</p>
      		<p style="color:#555;padding-bottom: 60px;">
      			Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor <br />
      			mauris condimentum nibh, ut fermentum massa justo sit amet risus. ...<br />
      			Donec id elit non mi porta gravida at eget metus. Fusce dapibus, <br />
      			tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. ...<br />
      			Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo,<br /> tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. ...
      		</p>
      		
    	</div>
    	<div class="col-md-4">
    		<div class="col-md-3">
          		<p>
          			<img src="imagen1.jpg" width="190px;" height="190px;" />
          		</p>
          		<p class="pull-left" style="">
          			<button type="button" class="btn btn-success">Contactar a la persona</button>
          		</p>
          		<p class="pull-left" style="">
          			<button type="button" class="btn btn-success" style="background: #3b5998;">Compartir en Facebook</button>
          		</p>
          		<p class="pull-left" style="">
          			<button type="button" class="btn btn-warning">Enviar por correo</button>
          		</p>
          	</div>
    	</div>
    	<h3 style="font-size:18pt;" class="text-green-1">
			Mapa
		</h3>
		<div class="col-md-12 content-map">
			<div id="map-canvas"></div>
		</div>
	</div>
</div>