// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.text-white {
	color: #ffffff !important;
}

.text-green-1 {
	color: #1B676B
}
.text-green-2 {
	color: #73C8A9;
}

.text-gray {
	color: #394755;
}

.navbar-nav>li.active {
	background: #f1f1f1 !important;
}

.navbar-brand {
	color: #73C8A9;
	text-shadow: 1px 2px 3px #cccccc;
	font-weight: bold;
	text-shadow: 1px 1px 2px #aaaaaa;
}

.navbar {
	box-shadow: 1px 2px 3px #333333;
}

.nav>li .active {
	background: #394755;
	color: #ffffff;
}

.navbar-nav li a {
	color: #394755;
	font-weight: bold;
}

.input-search-website {
	padding: 25px;
	font-size: 20px;
}

.btn-search-website {
	background: #73C8A9;
	color: #fff;
}

.btn-search-website:hover {
	background: #1B676B;
	color: #fff;
}


.btn-success {
	background: #1B676B;
	border-color: #1B676B;
}

.btn-success:hover {
	background: #1B674A;
	border-color: #1B674A;
}

.btn-search-website .ion-search {
	font-size: 27px; 
}

.jumbotron {
	margin-bottom: 0px;
}

.container-search-website {
	background: #f1f1f1;
	padding-top: 40px;
	padding-bottom: 80px;
}

.content-border-input {
	padding: 6px;
	background: #ddd;
	border-radius: 5px;
}

.btn-pubish-post {
	background: #73C8A9;
	color: #ffffff;
	font-size: 18px;
}

.btn-pubish-post:hover {
	background: #1B676B;
	color: #ffffff;
}

.content-post-website {
	border: 1px solid #ccc;
	padding: 10px;
	border-radius: 3px;
	border-left: 5px solid #1b676b;
	box-shadow: 1px 2px 3px #cccccc;
}

.btn-danger {
	background: #E32F21;
}

#map-canvas {
    width: 100%;
    height: 400px;
    background-color: #CCC;
}

.btn-warning {
	background: #E8BF56;
	border-color: #E8BF56;
}

.content-map {
	padding: 5px;
	background: #dddddd;
	border: 3px solid #dddddd;
	border-radius: 3px;
}